@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
    font-family: 'Lobster Two', cursive;
    padding:0;
    margin:0;
    font: 10px;

}
body{
    background: url(../images/Wheat.png) no-repeat 0px 0px ;
    background-size:cover;
    filter:brightness(80%);
    height: 100%;
}