@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
*{
    font-family: 'Lobster Two', cursive;
    font-size:30px;
}
body{
    background: url(../images/Wheat.png) no-repeat 0px 0px;
    background-size:cover;
    height: 100%;
}